<!DOCTYPE html>
<html>
<head>
  <title>Bookandauthor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <li><a href="/books">Books Index</a></li>
      <li><a href="/authors">Authors Index</a></li>


    </nav>
    <hr>
  </header>

<%= yield %>

</body>
</html>
